<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/marked"></script>
    <link rel="stylesheet" href="style.css">
    <title>Markdown Editer</title>
</head>

<body>
    <div id="notebook">

        <div class="notebook">
            <button v-bind:title="notes.length" v-on:click="addNote">Add Note</button>
            <div class="note" v-for="note in notes" 
                @click="selectNote(note)"
                :class="{selected: note===selectedNote}">
                {{note.title}}
            </div>
        </div>

        <template v-if="selectedNote">

            <div class="input">
                <input type="text" placeholder="input new name" v-model="selectedNote.title">
                <button @click="removeNote">delete</button>
                <textarea v-model="selectedNote.content"></textarea>
            </div>

            <div class="preview" v-html="markdownPreview">
            </div>

        </template>
    </div>

    <script src="./notebook.js"></script>

   

</body>

</html>